html{
    background-image: linear-gradient(yellow, gray);
}

h1{
    color: green;
    font-family: sans-serif;
}


ul{
    list-style-type: square;
    font-style: oblique;
}

.img1{
    width: 200px;
    height: 100px;
}

.img2{
    width: 150px;
    height: 250px;
}

